/* #region Variables */
:root {
    --main-color: #3400ff;
    --gradient1: linear-gradient(135deg, #f0f2f5 0%, #e5e8ed 40%, #b7bbc1 100%);
    --gradient2: linear-gradient(135deg, #a092f8 0%, #6a4dff 40%, #a99afd 100%);
}

/* #endregion */

/* #region Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion */

/* #region Base layout */
body {
    font-family: 'Helvetica';
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* #endregion */
